.root {
    display: flex;
}

.battlefield {   
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 650px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.separator {
    width: 2px;
    background-color: red;
    box-shadow: 0 0 10px red;
}

.vsString {
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}